* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.title {
  color: white;
  background-color: #333;
}
