* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

ul {
  list-style: none;
}

li {
  background-color: grey;
  color: white;
  padding: 10px;
  margin: 10px;
}

li:hover {
  background-color: black;
}
