* {
  padding: 0;
  margin: 0;
  box-sizing: none;
  line-height: 1.5;
}

.container {
  width: 300px;
  text-align: center;
  padding: 20px;
  background-color: rgb(240, 240, 24);
}

.title {
  color: rgb(24, 24, 120);
}

.btn {
  padding: 5px;
  margin-top: 10px;
}

.btn:hover {
  color: white;
  background-color: green;
  border: 2px solid black;
}
