* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
  padding: 10px;
}

.nav {
  display: flex;
  gap: 25px;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header a:hover {
  color: #f39c12;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 5px;
}

.content {
  width: 60%;
  background-color: lightgray;
  padding: 20px;
}

.content1 a {
  text-decoration: none;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
