* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(96, 238, 96);
  color: rgb(251, 243, 243);
  font-size: 14px;
  height: 80px;
  gap: 10px;
}

.body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  min-height: 400px;
  gap: 15px;
}

.body1 {
  width: 30%;
  height: 100%;
  padding: 10px;
  margin-left: 0px;
  border: 1px solid grey;
}

.body1 ul {
  margin-left: 30px;
}

.body2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100%;
  gap: 30px;
}

.body2-1,
.body2-2 {
  width: 100%;
  border-bottom: 1px solid grey;
}

.body2 img {
  display: block;
  width: 170px;
  height: 100px;
  padding: 5px 0px;
}

.footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 15px;
}
