* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  line-height: 1.5;
}

body {
  width: 600px;
  padding: 10px;
}

.title {
  color: blue;
}

.sentence {
  color: red;
}

.paragraph {
  color: greenyellow;
  text-align: justify;
}

.tips {
  color: orange;
  text-align: justify;
  padding: 10px;
  border-left: 6px solid red;
  background-color: yellow;
}

.word {
  color: black;
}
