* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  line-height: 1.5;
}

body {
  width: 300px;
  padding: 30px;
  text-align: center;
}

.btn {
  font-size: 30px;
  font-weight: bold;
  padding: 5px 5px 10px 10px;
  border-style: solid dotted double groove;
  border-color: red blue green rgba(67, 1, 78, 0.629);
  border-width: 5px 10px 10px 20px;
}
