* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  border: 1px solid black;
  background-color: lightblue;
  color: white;
  padding: 30px;
  text-align: center;
}
