/* Chỉnh sửa chiều rộng của thanh nav */
.col-lg-2 {
  width: 12%;
}

.col-10 {
  width: 88%;
}

/* Chỉnh sửa màu của tiêu đề thanh nav */
.nav-link {
  color: #000;
}

/* Chỉnh sửa màu của thanh nav */
.nav-link.active {
  color: #ffffff !important;
}

/* Sửa kích thước ảnh Avatar */
.avatar {
  width: 40px;
  height: 40px;
}

/* Chỉnh sửa viền xanh của bootstrap */
.form-control:focus,
.form-select:focus {
  border-color: #dee2e6;
  outline: 0;
  box-shadow: none;
}

/* Chỉnh sửa độ rộng nút dropdown và tìm kiếm */
.custom-width {
  width: 275px !important;
  cursor: pointer;
}

/* Tùy chỉnh mọi thành phần có class overflow-auto của Bootstrap */
.overflow-auto::-webkit-scrollbar {
  width: 6px;
}

.overflow-auto::-webkit-scrollbar-track {
  background: transparent; /* Để nền trong suốt cho sang ông ạ */
}

.overflow-auto::-webkit-scrollbar-thumb {
  background: #cbd5e0; /* Màu xám nhạt */
  border-radius: 100px; /* Bo tròn tuyệt đối */
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
}

.text-success-bright {
  color: #2ecc71 !important; /* Màu xanh lá chuẩn modern */
  filter: drop-shadow(
    0 0 2px rgba(46, 204, 113, 0.5)
  ); /* Thêm chút hiệu ứng hắt sáng */
  font-size: 1.2rem; /* Chỉnh to hơn một chút nếu muốn nổi bật */
}
