* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: 'Inter', sans-serif;
}

/* ============= Điều chỉnh kích thước symbol ============= */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 160px;
  gap: 32px;
  height: 88px;
  background: #ffffff;
  border: 1px solid #000000;
}

.logo-vector {
  width: 96px;
  height: 28px;
}

/* Khung search */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  width: 478px;
  height: 56px;
}

.search-bar-icon {
  margin-right: 10px;
}

.search-bar input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
}

/* ============= Khung Navigation ============= */
.navigation {
  display: flex;
  align-items: center;
  gap: 52px;
}

.navigation a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.navigation a.Home {
  opacity: 1;
}

.navigation a.Blog {
  display: none;
}

.navigation:hover a {
  opacity: 0.3;
}

.navigation a:hover {
  opacity: 1;
}

/* ============= Icons ============= */
.icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icons svg {
  cursor: pointer;
}

/* ============= Subnav ============= */
.subnav-nav {
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  padding: 8px 160px;
  background: #2b2b2f;
}

.subnav-nav div {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 32px;
  border-right: 1px solid #555555;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.subnav-nav div:last-child {
  border-right: none;
}

.subnav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  opacity: 0.7;
}

.subnav-nav div:hover {
  opacity: 1;
}

/* ============= Banner ============= */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #211c24;
  top: 136px;
  left: 1.94px;
  height: 632px;
  padding: 0 160px;
  overflow: hidden;
}

.banner-contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  padding-right: 50px;
}

.banner-contents .subtitle {
  width: 714px;
  height: 32px;
  opacity: 0.4;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #ffffff;
}

.banner-contents .title {
  font-weight: 300;
  font-size: 96px;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  line-height: 72px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.banner-contents .title span {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 72px;
  letter-spacing: -1%;
}

.banner-contents .short-p {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #909090;
  line-height: 24px;
  letter-spacing: 0%;
}

.btn {
  width: 187px;
  height: 56px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 16px 56px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #ffffff;
  color: #211c24;
}

.banner-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 73px;
  width: 406px;
  height: 100%;
}

.banner-image img {
  height: 160%;
  object-fit: cover;
  transform: translateY(350px);
}

/* ========= Category Top ========= */
.category {
  display: flex;
  flex-direction: column;
  padding: 80px 160px;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  gap: 32px;
}

.category-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.category-title {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}

.arrow {
  display: flex;
  gap: 16px;
}

.arrow-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ======= Category Card ======= */
.categories-list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  width: 100%;
}

.category-card {
  flex: 1;
  height: 128px;
  background-color: rgb(200, 200, 200);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-box {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.category-box svg {
  width: 40px;
  height: 40px;
  display: block;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.category-name {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  opacity: 0.5;
}

.category-box svg path,
.category-box svg circle,
.category-box svg rect {
  stroke: #000;
  stroke-width: 0.75px;
  transition: all 0.3s ease;
}

.category-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.category-card:hover .category-name {
  color: #ffffff;
  opacity: 1;
}

.category-card:hover .category-box svg {
  opacity: 1;
}

.category-card:hover .category-box svg path,
.category-card:hover .category-box svg circle,
.category-card:hover .category-box svg rect {
  stroke: #ffffff !important;
}

/* ======= Products ======= */

/* ======= Discount Products ======= */

/* ======= Banner 2 ======= */

/* ======= Footer ======= */
