* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: 'Inter', sans-serif;
}

/* ============= Điều chỉnh kích thước symbol ============= */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 5%;
  gap: 20px;
  height: 88px;
  background: #ffffff;
  border: 1px solid #000000;
}

.logo-vector {
  width: 96px;
  height: 28px;
}

/* Khung search */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  max-width: 400px;
  height: 56px;
}

.search-bar-icon {
  margin-right: 10px;
}

.search-bar input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
}

/* ============= Khung Navigation ============= */
.navigation {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.navigation a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.navigation a.Home {
  opacity: 1;
}

.navigation a.Blog {
  display: none;
}

.navigation:hover a {
  opacity: 0.3;
}

.navigation a:hover {
  opacity: 1;
}

/* ============= Icons ============= */
.icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icons svg {
  cursor: pointer;
}

/* ============= Subnav ============= */
.subnav-nav {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  padding: 8px 5%;
  background: #2b2b2f;
}

.subnav-nav div {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 15px;
  border-right: 1px solid #555555;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.subnav-nav div:last-child {
  border-right: none;
}

.subnav-container a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  opacity: 0.7;
}

.subnav-nav div:hover {
  opacity: 1;
}

/* ============= Banner ============= */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #211c24;
  top: 136px;
  left: 1.94px;
  height: 632px;
  padding: 0 160px;
  overflow: hidden;
}

.banner-contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1.5;
  padding-right: 50px;
}

.title {
  white-space: nowrap;
  letter-spacing: -5px;
}

.banner-image {
  flex: 1;
}

.banner-contents .title,
.banner-contents .title span {
  font-size: clamp(40px, 5vw, 96px);
  line-height: 1.1;
}

.banner-contents .subtitle {
  width: 100%;
  max-width: 100%;
  height: 32px;
  opacity: 0.4;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #ffffff;
}

.banner-contents .title {
  font-weight: 300;
  font-size: 96px;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  line-height: 1.1;
  margin-top: 24px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.banner-contents .title span {
  display: inline;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 72px;
  letter-spacing: -1%;
}

.banner-contents .short-p {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #909090;
  line-height: 24px;
  letter-spacing: 0%;
}

.btn-buy {
  width: 187px;
  height: 56px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 16px 56px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-buy:hover {
  background-color: #ffffff;
  color: #211c24;
}

.banner-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 73px;
  width: 406px;
  height: 100%;
}

.banner-image img {
  height: 160%;
  object-fit: cover;
  transform: translateY(350px);
}

/* ========= Category Top ========= */
.category {
  display: flex;
  flex-direction: column;
  padding: 60px 160px;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  gap: 32px;
}

.category-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.category-title {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}

.arrow {
  display: flex;
  gap: 16px;
}

.arrow-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ======= Category Card ======= */
.categories-list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  width: 100%;
}

.category-card {
  flex: 1;
  height: 128px;
  background-color: rgb(200, 200, 200);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-box {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.category-box svg {
  width: 40px;
  height: 40px;
  display: block;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.category-name {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  opacity: 0.5;
}

.category-box svg path,
.category-box svg circle,
.category-box svg rect {
  stroke: #000;
  stroke-width: 0.75px;
  transition: all 0.3s ease;
}

.category-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.category-card:hover .category-name {
  color: #ffffff;
  opacity: 1;
}

.category-card:hover .category-box svg {
  opacity: 1;
}

.category-card:hover .category-box svg path,
.category-card:hover .category-box svg circle,
.category-card:hover .category-box svg rect {
  stroke: #ffffff !important;
}

/* ======= Products ======= */
.products {
  display: flex;
  flex-direction: column;
  padding: 0px 160px;
}

.products-tags {
  display: flex;
  gap: 32px;
  margin-bottom: 10px;
}

.btn-new {
  border: none;
  background: none;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  white-space: 10px 0;
  border-bottom: 2px solid transparent;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.products-tags:not(:hover) .btn-new.active {
  opacity: 1;
  border-bottom: 2px solid #000;
}

.products-tags:hover .btn-new {
  opacity: 0.3;
  border-bottom: 2px solid transparent;
}

.products-tags .btn-new:hover {
  opacity: 1;
  border-bottom: 2px solid #000;
}
/* ========= Products Main ========= */
.products-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2;
  gap: 10px;
  margin-bottom: 40px;
}

.products-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  padding: 24px 16px;
  border-radius: 12px;
  height: 100%;
  gap: 10px;
}

.cards-top {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.cards-img {
  max-width: 160px;
  width: 100%;
  height: 160px;
}

.cards-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin-top: auto;
}

.cards-name {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  height: 48px;
  line-height: 1.4;
  margin-top: 8px;
}

.cards-price {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 3%;
}

.btn-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  color: #ffffff;
  background: #000000;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.3s;
}

.btn-cards:hover {
  opacity: 0.7;
}

.actived {
  fill: red;
}

/* ======= Discount Products ======= */
.products-discount {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}

.products-discount-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* ======= Banner 2 ======= */
.banner2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(55, 55, 55);
  width: 100%;
  height: 448px;
  overflow: hidden;
}

.banner2-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 600px;
  z-index: 10;
}

.banner2-title {
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: -1%;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
}

.banner2-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #787878;
}

.btn-banner2 {
  width: 187px;
  height: 56px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  padding: 16px 56px;
  margin-top: 30px;
  background-color: black;
  color: #ffffff;
}

.banner2-left {
  position: absolute;
  left: -10%;
  top: 5%;
}

.banner2-right {
  position: absolute;
  right: 5%;
  bottom: -2%;
}

.macbook {
  height: 50%;
  width: 20%;
  left: 15%;
  top: -30%;
}

.newipad {
  height: 38%;
  width: 100%px;
  left: 3%;
  top: 1%;
}

.ipadair {
  height: 65%;
  width: 30%;
  left: -5%;
  top: 34%;
  transform: scaleX(-1);
}

.iphone14 {
  transform: rotate(-30deg);
  height: 100%;
  width: 10%;
  right: -5%;
}

.applese {
  top: 60%;
  right: -1%;
  height: 70%;
  width: 25%;
}

/* Chặn việc click vào hỉnh ảnh hay hover trúng hình ảnh */
.banner2-left,
.banner2-right {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

/* ======= Footer ======= */
.footer {
  height: 464px;
  padding: 104px 160px;
  background-color: #2e2e2e;
}

.footer p {
  color: #ffffff;
}
